a{
    color: gainsboro;
    text-decoration: none;
    width: 30%;
}

.filmBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 10px;
    background: rgba(42, 41, 42, 0.5);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color: gainsboro;
}

.moviesBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.cardBox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 0;


    width: 100%;
    border: solid black 1px;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0.27);
}

.cardBox:hover{
    border: solid yellow 2px;
}

.box{
    display: flex;
    flex-direction: row;
    height: 90%;
}

.imgBox{
    width: 55%;
    height: 100%;
}

.image{
    height: 100%;
    width: 100%;
}

.infoBox{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
    width:45%;
}

.titleBox{
    width: 100%;
    height: 30%;
}

.genreBox{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.ratingBox{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.starsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 100%;

}

.rating{
    height: 27px;
    width: 27px;
    border: yellow solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}


.back {
    all: unset;
    position: absolute;
    right: 32px;
    top: 70px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.back:hover {
    opacity: 1;
}
.back:before, .back:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff000;
}
.back:before {
    transform: rotate(45deg);
}
.back:after {
    transform: rotate(-45deg);
}
